<div class="row">
	<div class="mtg-card mtg-card-name mtg-card-hover tooltiped" data-imagetooltip="<%= card[:card].image_url %>">
		<%= "#{card[:quantity]} - #{card[:card].name}" %>
	</div>
</div>